.App, Space, Card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
}

Flex{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

:where(.css-dev-only-do-not-override-2rgkd4).ant-card .ant-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
:where(.css-dev-only-do-not-override-2rgkd4).ant-space-align-center {
  align-items: flex-start;
}

li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}
li button{
  margin-left:2rem
}
.flexRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexRow button{
  margin-left:0.5rem
}

.success{
  color: #fff;
  background-color: #52c41a;
  border-color: #52c41a
}

.danger {
  color: #fff;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.product-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;


}
.ProductCard{
  margin-top:15px;
}

.product-card img{
  width:75px;
}